body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, overflow-x: hidden;
}

.profilepic{
	width: 225px;
	height: 225px;
	border: 5px solid white;
}

.name1{
	font-size: 35px;
}

.navbar-custom .navbar-nav li a:hover {
    color: #bc1818;
    outline: 0;
    font-size: 20px;
}